body 
 table, th, td {
     color: white;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

h1 {
    color: blue;
}
a:link {
    color: yellowgreen;
    background-color: purple;
    text-decoration: seagreen;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: none;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}