p {
    font-size: 110%;
}

.container {
    width: 75%;
    max-width: 1600px;
    min-width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-image: url('../images/clouds.jpeg');
    background-repeat: no-repeat; 
    background-size: contain;
    text-align: center; 
    border: 10px solid turquoise;
    font-family: Comic Sans MS;
}

table, th, td {
    border: 2px solid turquoise;
    background: rgb(175, 216, 218);
    border-collapse: collapse;
}

#horizontal-style {
    display: table;
    width: 100%;
}

#horizontal-style li {
    display: table-cell;
}

#horizontal-style a {
    display: block;
    border: 1px solid turquoise;
    text-align: center;
    margin: 0 5px;
    background: rgb(175, 216, 218);
    font-size: 20px;
    color:black;
}

table {
    width: 80%; 
    margin: auto; 
    font-style: italic; 
    margin-top: 20px;
}

.button {
    margin: 4px 2px;
    background-color: rgb(175, 216, 218);
}