
/* Intro */
.intro {
    width: 100%;
    margin: 200px auto;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__title {
    color: turquoise;
    font-size: 180px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    font-family: DAYTON;
    font-style: italic;
    text-shadow: 5px 2px 2px green;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: turquoise;
}

.intro__suptitle {
    margin-bottom: 20px;
    color: turquoise;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 3px 1px 1px green;
}

.intro__button {
    padding: 10px 15px;
    text-decoration: none;
    width: 200px;
    margin: 0 auto;

    border: 3px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;

    transition: color .2s linear, border .2s linear;
}

.intro__button:hover {
    color: turquoise;
    border: 3px solid turquoise;
}

/* Slider */

.slider {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    border-top: 3px solid turquoise;
    font-size: 18px;
    color: turquoise;
    text-transform: uppercase;
}

.slider__num {
    font-size: 24px;
    color: turquoise;
    font-weight: 700;
}