body {
    margin: 0 auto;
    min-width: 960px;
    font-family: Comic Sans MS;
    font-size: 15px;
    line-height: 1.6;
    text-align: center; 
    color: black;

    background: url('../images/back.jpeg') center no-repeat;
    background-repeat: repeat; 
    background-size: cover;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Others */

.button {
    margin: 4px 2px;
    background-color: PowderBlue;
    text-shadow: 2px 1px 1px whitesmoke;
    border: 2px solid turquoise;
    font-family: Comic Sans MS;
    font-size: large;
}