p {
    font-size: 110%;
}

.container {
    width: 75%;
    max-width: 1600px;
    min-width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-image: url('../images/back.jpeg');
    background-repeat: repeat; 
    background-size: contain;
    text-align: center; 
    border: 10px solid turquoise;
    font-family: Comic Sans MS;
}

table {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

th, td {
    border: 5px solid turquoise;
    background: PowderBlue;
    border-collapse: collapse;
    width: 50%;
}

#horizontal-style {
    display: table;
    width: 100%;
}

#horizontal-style li {
    display: table-cell;
}

#horizontal-style a {
    display: block;
    border: 1px solid turquoise;
    text-align: center;
    margin: 0 5px;
    background: PowderBlue;
    font-size: 20px;
    color:black;
}

.button {
    margin: 4px 2px;
    background-color: PowderBlue;
    text-shadow: 2px 1px 1px whitesmoke;
    border: 2px solid turquoise;
    font-family: Comic Sans MS;
    font-size: large;
}

.game {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 400px;
    background-color: powderblue;
    border: 5px solid turquoise;
}